<p id="notice"><%= notice %></p>

<p>
  <strong>Sender name:</strong>
  <%= @courier_detail.sender_name %>
</p>

<p>
  <strong>Sender address:</strong>
  <%= @courier_detail.sender_address %>
</p>

<p>
  <strong>Sender contact:</strong>
  <%= @courier_detail.sender_contact %>
</p>

<p>
  <strong>Sender pincode:</strong>
  <%= @courier_detail.sender_pincode %>
</p>

<p>
  <strong>Receiver name:</strong>
  <%= @courier_detail.receiver_name %>
</p>

<p>
  <strong>Receiver address:</strong>
  <%= @courier_detail.receiver_address %>
</p>

<p>
  <strong>Receiver contact:</strong>
  <%= @courier_detail.receiver_contact %>
</p>

<p>
  <strong>Receiver pincode:</strong>
  <%= @courier_detail.receiver_pincode %>
</p>

<p>
  <strong>Parcel weight:</strong>
  <%= @courier_detail.parcel_weight %>
</p>

<p>
  <strong>Service type:</strong>
  <%= @courier_detail.service_type %>
</p>

<p>
  <strong>Service cost:</strong>
  <%= @courier_detail.service_cost %>
</p>

<p>
  <strong>Payment mode:</strong>
  <%= @courier_detail.payment_mode %>
</p>

<p>
  <strong>User:</strong>
  <%= @courier_detail.user_id %>
</p>

<%= link_to 'Edit', edit_courier_detail_path(@courier_detail) %> |
<%= link_to 'Back', courier_details_path %>
